<div class="my-6 flex">
  <div class="hero-content">
    <h2 class="mb-6 text-3xl font-semibold text-gray-700 dark:text-gray-200">
      Get Delicious Food <br /> <span class="font-normal">delivered to your door</span>
    </h2>

    <p class="text-lg">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua.
    </p>
  </div>

  <div class="hero-img wow fadeInUp" data-wow-delay=".5s"
    style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
    <img src="assets/hero-img.svg" alt="">
  </div>
</div>

<section class="mt-10">
    <div class="flex items-center">
      <div class="col-lg-5">
        <div class="delivery-content">
          <div class="section-title">
              <h2 class="mb-6 text-3xl font-semibold text-gray-700 dark:text-gray-200">Order Now, Recieve Within
                30mins
              </h2>
            <p class="mb-35 wow fadeInUp" data-wow-delay=".6s"
              style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Lorem ipsum dolor sit amet,
              consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore hdht dolore magna aliquyam
              erat, sed diam voluptua.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="delivery-img wow fadeInUp" data-wow-delay=".5s"
          style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
          <img src="assets/delivery-img.svg" alt="">
        </div>
      </div>
    </div>
</section>
